@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@800&family=Poppins&family=Roboto&family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@800&family=Poppins&family=Roboto&family=Ubuntu&display=swap");

.Home {
  background-color: #343377;
  /* width: 100vw; */
  height: 60vw;
}

.Home_nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Home_nav_logo {
  font-family: "poppins";
  padding: 20px;
  margin-left: 95px;
  font-size: 24px;
  color: white;
  font-weight: 700;
  letter-spacing: 2px;
}

.Home_nav_links {
  padding: 22px;
  display: flex;
  gap: 25px;
  margin-right: 40px;
  align-items: center;
  align-content: center;
}

.Home_nav_button {
  font: "roboto";
  text-decoration: none;
  color: white;
  background-color: #fba229;
  font-size: 13px;
  padding: 14px 20px 14px 20px;
  border-radius: 22px;
}

.Home_nav_link {
  font-family: "roboto";
  text-decoration: none;
  color: #fff;
  font-size: 14px;
}
.Home_nav_link:hover {
  cursor: pointer;
}

.Home_mid {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  padding: 100px;
}

.Home_graphic {
  width: 550px;
}

.Home_mid_right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  padding: 0px 100px 100px 100px;
  margin-left: -100px;
  margin-top: -150px;
}

.Home_mid_header {
  font-family: "poppins";
  font-size: 50px;
  color: #fff;
  font-weight: 700;
  letter-spacing: 2px;
  width: 40vw;
  margin-bottom: 0px;
}

.Home_mid_desc {
  color: white;
  font-family: "poppins";
  margin-top: 0px;
  font-size: 15px;
  font-weight: lighter;
  opacity: 75%;
}

.Home_mid_right_button {
  display: flex;
  flex-direction: row;
  gap: 50px;
  align-items: center;
  align-content: center;
}

.Home_mid_button1 {
  font: "roboto";
  text-decoration: none;

  color: white;
  background-color: #fba229;
  font-size: 16px;
  padding: 10px 35px 10px 35px;
  border-radius: 29px;
  transition: 0.3s;
}
.Home_mid_button1:link {
  text-decoration: none;
}

.Home_mid_button1:hover {
  background-color: #2e2d6a;
  text-decoration: none;
  border: solid 1px #fba229;
  cursor: pointer;
}

.Home_mid_button2 {
  font: "roboto";
  text-decoration: none;
  color: white;
  background-color: #2e2d6a;
  border: solid 1px #fba229;
  font-size: 14px;
  padding: 10px 35px 10px 35px;

  border-radius: 29px;
  transition: 0.3s;
}

.Home_mid_button2:hover {
  background-color: #fba229;

  border: solid 3px #fba229;

  cursor: pointer;
}

.Home_mid_left {
  position: relative;
}

.friends {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  padding: 40px;
  /* width: 100vw; */
  height: 56vw;
  margin-left: -20px;
}

.friends_head {
  font-size: 45px;
  font-family: "poppins";
  color: #2b353e;
}
.Friend_image_container {
  position: relative;
}

.friends_desc {
  font-size: 14px;
  font-weight: 400;
  width: 32vw;
  text-align: center;
  margin-bottom: 96px;
  font-family: "roboto";
  color: #2b353eb2;
  opacity: 70%;
  line-height: 20px;
  margin-top: -10px;
}

.friends_img {
  position: absolute;
  top: 38;
  left: 45;
  margin-left: -286px;
  width: 600px;
}

.friends_dots {
  position: absolute;
  margin-top: -40px;
  margin-left: -340px;
  left: 0;
}

.friends_dots2 {
  position: absolute;
  margin-top: 300px;
  margin-left: 200px;
  left: 0;
}

.empathy {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  padding: 30px;
  /* width: 100vw; */
  height: 54vw;
  margin-left: -20px;
  justify-content: space-between;
}

.empathy_left {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  margin-left: 140px;
}

.empathy_img {
  width: 506px;
}

.empathy_about {
  font-size: 14px;
  text-align: left;
  margin-left: -360px;
  font-family: "Poppins";
  font-weight: 600;
  color: #343377;
  margin-bottom: 0px;
}
.empathy_right {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  width: 30vw;
  margin-right: 100px;
}

.empathy_title {
  font-size: 44px;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: left;
  font-family: "poppins";
  color: #0e0e0e;
  line-height: 60px;
}

.empathy_desc {
  font-size: 12px;
  font-weight: 400;
  font-family: "Roboto";
  text-align: left;
  line-height: 25px;
  color: #a69494;
  margin-top: 0px;
  margin-bottom: 50px;
  width: 29vw;
}

.diver {
  font-size: 55px;
  font-weight: 300;
  color: #343377;
  font-family: "poppins";
}
.sea {
  font-size: 55px;
  font-weight: 700;
  color: #343377;
}

.yellow {
  background-color: #fba229d9;
  /* opacity: 85%; */
  /* width: 100vw; */
  height: 55vw;
  display: flex;
  flex-direction: row;
  align-content: center;
}

.yellow_left {
  position: relative;
  display: flex;
  width: 73vw;
}

.yellow_dots {
  position: absolute;
  margin-top: 80px;
  margin-left: 120px;
}
.yellow_dots2 {
  position: absolute;
  margin-top: 500px;
  margin-left: 560px;
}
.yellow_img {
  position: absolute;
  margin-top: 140px;
  margin-left: 170px;
}

.yellow_right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: center;
  justify-content: flex-start;
  width: 30vw;
  margin-right: 150px;
  margin-top: 100px;
}

.yellow_right_header {
  font-size: 45px;
  font-weight: 500;
  font-family: "Poppins";
  width: 35vw;
  color: white;
  margin-bottom: 0px;
}

.yellow_right_desc {
  font-size: 21px;
  color: white;
  font-family: "Roboto";
}

.yellow_right_button {
  display: flex;
  flex-direction: row;
  gap: 60px;
  align-items: center;
  align-content: center;
  margin-top: 20px;
  margin-bottom: 100px;
}
.yellow_right_button1 {
  font: "roboto";
  text-decoration: none;
  color: white;
  background-color: #101b4f;
  font-size: 16px;
  padding: 12px 45px 12px 45px;
  border-radius: 29px;
  transition: 0.1s;
}
.yellow_right_button1:hover {
  background-color: transparent;
  border: solid 1px #101b4f;
  color: #101b4f;
  cursor: pointer;
}

.yellow_right_button2 {
  font: "roboto";
  text-decoration: none;
  color: #101b4f;
  background-color: transparent;
  border: #101b4f solid 1px;
  font-size: 16px;
  padding: 12px 45px 12px 45px;
  border-radius: 29px;
  transition: 0.3s;
}
.yellow_right_button2:hover {
  background-color: #101b4f;
  color: white;
  cursor: pointer;
}

.review {
  padding-top: 50px;
  display: flex;
  flex-direction: row;
  gap: 50px;
}
.review_desc {
  font-weight: 300;
  font-family: "Roboto";
  color: #2b353eb2;
}

.bold {
  font-weight: 700;
}


.formMain {
    background-color: #343377;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
}

.formImg {
    position: absolute;
    left: 9.01%;
    right: 57.65%;
    top: 18.81%;
    bottom: 18.75%;
}

.limg {
    width: 500px;
    height: 500px;


}


.formMain .formWrap {
    /* flex:1; */
    position: absolute;
    left: 54.79%;
    right: 4.17%;
    top: 4.1%;
    bottom: 4.1%;

    background: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.08);
    padding: 20px 60px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.formMain .formWrap .logo {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 55px;
    letter-spacing: -0.02em;
    color: #343377;
}

.formMain .formWrap .logo-sea {
    font-family: 'Poppins';
    font-style: bold;
    font-weight: 600;
    font-size: 55px;
}

.formMain .formWrap .title {
    color: #5d5b8d;
    font-size: 20px;
    margin: 10px;
}

.formMain .formWrap form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.formMain .formWrap form input {
    padding: 15px;
    border: none;
    width: 250px;
    /* border-bottom: 1px solid #a7bcff; */
    background: #ECECEC;
    border-radius: 8px;
}

.formMain .formWrap form input::placeholder {
    color: #afafaf;
}

.formMain .formWrap form button {
    background-color: #101B4F;
    color: white;
    padding: 10px;
    font-weight: bold;
    /* border: none; */
    border: 1px solid #101B4F;
    border-radius: 60px;
    cursor: pointer;
}

.formMain .formWrap p {
    color: #5d5b8d;
    font-size: 12px;
    margin-top: 10px;
}

.etn {
    height: 30px;
    border-radius: 8px;
    border: 2px solid #101B4F;
    margin-top: -12px;
}

.alldrop {
    background: #ECECEC;
    /* padding: 15px; */
    /* color: #afafaf; */
}

.varsity {
    display: flex;
    justify-content: space-between;
}

.pron {
    margin-right: 42px;
}

.gender {
    width: 110px;
    height: 30px;
    border-radius: 8px;
    margin-top: -12px;
    border: 2px solid #101B4F;
}